@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "GetUsers";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
       
    </div>
    <div class="card-body">
        <table id="customertable" class="table">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Doğum Tarihi</th>
                        <th>Email Adresi</th>
                        <th>Cinsiyet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>
                            @if (user.BirthDay != null)
                            {
                                @user.BirthDay?.ToShortDateString()
                            }
                            else
                            {
                                <span>Belirtilmemiş</span>
                            }
                        </td>
                        <td>@user.Email</td>
                        <td>
                            @switch (user.Gender)
                            {
                                case 0:
                                    <span>Belirtilmemiş</span>
                                    break;
                                case 1:
                                    <span>Erkek</span>
                                    break;
                                case 2:
                                    <span>Kadın</span>
                                    break;
                            }
                        </td>

                    </tr>


                    }



                </tbody>
            </table>
    </div>
</div>